name: myworkflow
on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose environment"
        required: true
        default: "staging"
        type: choice
        options:
          - staging
          - production

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout Repository
        uses: actions/checkout@v4


      - name: login to docker registry
        run: |
          echo "login to docker registry"
          # echo ${DOCKER_PASS_WORD} | docker login -u hashem --password-stdin >/dev/null 2>&1
          # if [ $? -eq 0 ]; then
          #   echo "Logged in successfully to Docker registry"
          # else
          #   echo "Failed to login to Docker registry"
          # fi


      - name: build docker image
        run: |
          echo "docker build & push"
          # docker build -t myapp:latest .
          # docker push myapp:latest

          
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: run code testing against the application
        run: echo "run tests..."
    needs:
      - Build

  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: deploy to the environment
        run: echo "Deploying to the environment."
    needs:
      - Build
      - Test
