name: API based workflow

on:
  repository_dispatch:
    type: [incident_report]

jobs:
  handle_incident:
    runs-on: ubuntu-latest
    steps:
      - name: step1
        run: echo "it works!"








# on the client device:
# export GITHUB_PAT="fdsfdsfsdfdsfkasdflsadkjfhskdjffafdsdafdsfhl3u2"
# curl -X POST -H "Authorization: token $GITHUB_PAT" -H "Accept: application/vnd.github.v3+json" \
# https://api.github.com/repos/hashem963988/project2/dispatches -d '{"event_type": "incident_report"}'