name: Workflow2 for Consume Files
on:
  workflow_run:
    workflows: ["Workflow1 for Generate Files"]
    types:
      - completed

jobs:
  process:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: checkout repo
        uses: actions/checkout@v4


      - name: Download artifact from workflow1
        uses: actions/download-artifact@v4
        with:
          name: generated-files
          path: generated/
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}


      - name: Use files which have been artifacted from workflow1
        run: cat generated/file.txt